@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background-start-rgb: 215, 215, 215;
  --body-background-end-rgb: 155, 155, 155;

  --nav-foreground-rgb: 0, 0, 0;
  --nav-background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background-start-rgb: 20, 20, 20;
    --body-background-end-rgb: 85, 85, 85;

    --nav-foreground-rgb: 255, 255, 255;
    --nav-background-rgb: 30, 30, 30;
  }
}

.swiper-pagination-bullet-active {
  background: red;
}

/**
 * Smooth scrolling on the whole document
 */
 html {
  scroll-behavior: smooth;
}

nav {
  color: rgb(var(--nav-foreground-rgb));
  background: rgb(var(--nav-background-rgb));
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--body-background-end-rgb))
    )
    rgb(var(--body-background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
